body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir'), url('./fonts/AvenirNext-Regular.woff') format('woff');
}

